#arena--container
{
    position: absolute;
    background-image: url("./images/Arena.png");
    height: 1080px;
    width: 1920px;
}

#arena--random
{
    top:400px;
    left:300px;
}

#arena--crowscare
{
    top: 400px;
    right: 300px;
}